$width: 100px;

@keyframes rotate-x {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(360deg);
  }
}

.layer-x-2 {
  animation: rotate-x 3s ease infinite;
}

@mixin coordinate() {
  @for $x from 1 through 3 {
    @for $y from 1 through 3 {
      @for $z from 1 through 3 {
        .cube-#{$x}-#{$y}-#{$z} {
          transform: translate3d(($x - 2) * $width, ($y - 2) * $width, ($z - 2) * $width);
        }
      }
    }
  }
}

@include coordinate();

.cube-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: $width;
  width: $width;
  height: $width;

  transform-style: preserve-3d;
}

.cube {
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: $width - 8;
  height: $width - 8;
  border: 4px solid #888;
  border-radius: 8px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #fff;
  
  &.face-u {
    transform: rotateX(90deg) translateZ($width / 2);
    background-color: red;
  }

  &.face-d {
    transform: rotateX(-90deg) translateZ($width / 2);
    background-color: yellow;
  }

  &.face-l {
    transform: rotateY(-90deg) translateZ($width / 2);
    background-color: red;
  }

  &.face-r {
    transform: rotateY(90deg) translateZ($width / 2);
    background-color: orange;
  }

  &.face-f {
    transform: translateZ($width / 2);
    background-color: green;
  }

  &.face-b {
    transform: rotateX(180deg) translateZ($width / 2);
    background-color: blue;
  }

  &.face-inside {
    background-color: white;
    opacity: 0.2;
  }
}

