$width: 100px;

@keyframes rotate {
  
  0% {
    transform: rotate3d(1, 0, 1, 0);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}


.rubic {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $width * 3;
  height: $width * 3;

  transform-style: preserve-3d;
  animation: rotate 2s linear reverse infinite;
}
